*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 78px 0 0;
}

/* Видео */

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

/* Форма */

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  width: fit-content;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  margin: 0 0 6px;
}

.search-form__textfield {
  width: 225px;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;  
  border-bottom: 1px solid #fff;
  background-color: transparent;
  padding: 5px 0;
}

.search-form__textfield::placeholder {
  font-size: 17px;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  align-self: center;
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  inset: 0;
  background-color: #fff;
  margin: auto;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
  align-self: end;
  cursor: pointer;
  padding: 7px;
}