:root {
  --main-white: #fff;
  --main-bg: #1b1919;
  --main-gray: #545050;
  --scrollbar: #D9D9D9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Глобальные стили */

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: var(--main-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

.content {
  display: grid;
  grid-template-columns: 1fr 397px;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 78px 0 0;
}

/* Видео */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Форма */

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  width: fit-content;
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible),
.search-form__label:has(:focus-visible) > .search-form__textfield {
  outline: 1px solid var(--main-white);
  outline-offset: 1px;
}

.search-form__label:active > .search-form__textfield {
  border: 1px solid var(--main-white);
  outline: none;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid var(--main-white);  
  border-bottom: 1px solid var(--main-white);
  padding: 2px;
  color: var(--main-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  align-self: center;
  opacity: 0.7;
  color: var(--main-white);
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 212px;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__label:active > .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: var(--main-white);
}

.search-form__label:active > .search-form__label-text {
  text-decoration: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid var(--main-white);
}

.button {
  width: 100%;
  min-height: 34px;
  border: 1px solid var(--main-white);
  padding: 7px;
  color: var(--main-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  text-decoration: none;
  background-color: var(--main-gray);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--main-white);
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  max-width: 194px;
}

/* Контейнер списка */

.content__details {
  display: grid;
  gap: 19px;
}

/* Главный заголовок */

.title {
  color: var(--main-white);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: var(--main-gray);
}

/* Список карточек */

.content__list-container {
  position: relative;
  height: 297px;
  /* Добавляет отступ около скролла */
  padding-right: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list {
  /* Для правильного отображения outline */
  margin: 2px 0 30px 2px;
}

.content__list-item:not(:last-child) {
  margin: 0 0 21px;
}

.content__card-link {
  display: block;
  border: 1px solid transparent;
  color: var(--main-white);
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid var(--main-white);
  outline: none;
}

.content__card-link:active {
  outline: none;
  background-color: var(--main-gray);
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
  gap: 5px;
}

.content__video-card-description-container {
  max-width: 185px;
}

.content__video-card-title {
  margin: 0 0 6px;
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.5px;
}

.content__video-card-thumbnail {
  width: 100%;
}

.more-button {
  margin: 2px;
}